.navbar {
  margin: 0;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  padding: 0;
  margin: 0 0.5rem;

  cursor: pointer;

  &:hover {
    color: #6d6d6d;
  }
}

.nav-links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
